<style>
  .featured_banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
  .featured_banners a {
    flex: 0 0 calc(25% - {{ section.settings.image_gap }}px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: {{ section.settings.image_border_radius }}px;
  }
  .featured_banners a img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    vertical-align: bottom;
    transform: scale(1);
    border-radius: {{ section.settings.image_border_radius }}px;
  }
  .featured_banners a img:hover {
      transform: scale(1.02);
  }
  @media (max-width: 768px) {
    .featured_banners a {
      flex: 0 0 calc(50% - {{ section.settings.image_gap | divided_by: 2 }}px);
      margin-bottom: {{ section.settings.image_gap }}px;
    }
  }
  @media (max-width: 500px) {
    .featured_banners a {
      flex: 0 0 calc(100% - 0px);
    }
  }
</style>

<div class="featured_banners">
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'banner' %}
      <a href="{{ block.settings.banner_url }}" class="featured_banner" {{ block.shopify_attributes }}>
        {{ block.settings.banner_image | image_url: width: 1000 | image_tag }}
      </a>
  {% endcase %}
{% endfor %}
</div>

{% schema %}
{
  "name": "Featured Banners",
  "class": "featured_banners",
  "max_blocks": 4,
  "settings": [
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "image_gap",
        "min": 0,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Image Gap",
        "default": 8
      },
    {
        "type": "range",
        "id": "image_border_radius",
        "min": 0,
        "max": 8,
        "step": 1,
        "unit": "px",
        "label": "Image Radius",
        "default": 4
      }
  ],
  "blocks": [
     {
       "name": "Banner",
       "type": "banner",
       "settings": [
         {
           "type": "image_picker",
           "id": "banner_image",
           "label": "Banner Image"
         },
         {
          "type": "url",
          "id": "banner_url",
          "label": "Add Link"
        }
       ]
     }
   ]
}
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}